{% load static %}
  {% comment %} <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-5">Weather Desktop App </h1>
        <img src="{% static 'w.png' %}" class="image mx-auto my-auto" style="width:100px; margin-bottom:-50px; ">
      </div>
    </div>
</div> {% endcomment %}

<div class="container-fluid">
 
   <div class="col-lg-12 mx-auto py-4">
    <h1 class="display-5  text-center font-weight-bold" style="font-size:5vh;">Weather Desktop App </h1>
    <img src="{% static 'w.png' %}" class="image mx-auto my-auto" style="width:100px; margin-bottom:-50px; ">
   </div>
 

</div>